# Configure Network Ports and EntryPoints
# EntryPoints are the network listeners for incoming traffic.
ports:
  # Defines the HTTP entry point named 'web'
  web:
    port: 80
    hostPort: 80
    # Instructs this entry point to redirect all traffic to the 'websecure' entry point
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

  # Defines the HTTPS entry point named 'websecure'
  websecure:
    port: 443
    hostPort: 443

# Enables the dashboard in Secure Mode
api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.tom.lan`)
    entryPoints:
      - websecure
    # middlewares:
    #   - name: dashboard-auth

deployment:
  kind: DaemonSet
  revisionHistoryLimit: 0

ingressClass:
  isDefaultClass: false

providers:
  kubernetesCRD:
    enabled: false
  kubernetesIngress:
    enabled: false
    # publishedService:
    #   enabled: true # the default?
  kubernetesIngressNginx:
    enabled: true
    watchIngressWithoutClass: true
    # publishService:
    #   # WARN: Needed to prevent Ingresses getting stuck Progressing in Argo.
    #   # See https://github.com/argoproj/argo-cd/issues/4863 for more info.
    #   enabled: true

service:
  type: ClusterIP

updateStrategy:
  rollingUpdate:
    maxUnavailable: 1

global:
  checkNewVersion: false
  sendAnonymousUsage: false

extraObjects:
  - apiVersion: networking.k8s.io/v1
    kind: IngressClass
    metadata:
      name: nginx
      annotations:
        ingressclass.kubernetes.io/is-default-class: "true"
    spec:
      controller: k8s.io/ingress-nginx

# # Creates a BasiAuth Middleware and Secret for the Dashboard Security
# extraObjects:
#   - apiVersion: v1
#     kind: Secret
#     metadata:
#       name: dashboard-auth-secret
#     type: kubernetes.io/basic-auth
#     stringData:
#       username: admin
#       password: "P@ssw0rd" # Replace with an Actual Password
#   - apiVersion: traefik.io/v1alpha1
#     kind: Middleware
#     metadata:
#       name: dashboard-auth
#     spec:
#       basicAuth:
#         secret: dashboard-auth-secret

# # We will route with Gateway API instead.
# ingressClass:
#   enabled: false

# # Enable Gateway API Provider & Disables the KubernetesIngress provider
# # Providers tell Traefik where to find routing configuration.
# providers:
#   kubernetesIngress:
#     enabled: false
#   kubernetesGateway:
#     enabled: true

# ## Gateway Listeners
# gateway:
#   listeners:
#     web: # HTTP listener that matches entryPoint `web`
#       port: 80
#       protocol: HTTP
#       namespacePolicy:
#         from: All

#     websecure: # HTTPS listener that matches entryPoint `websecure`
#       port: 443
#       protocol: HTTPS # TLS terminates inside Traefik
#       namespacePolicy:
#         from: All
#       mode: Terminate
#       certificateRefs:
#         - kind: Secret
#           name: local-selfsigned-tls # the Secret we created before the installation
#           group: ""

# Enable Observability
logs:
  general:
    level: INFO
  access:
    enabled: true

# Enables Prometheus Metrics
metrics:
  prometheus:
    enabled: true
