ports:
  web:
    hostPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    hostPort: 443

api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.tom.lan`)
    entryPoints:
      - websecure

deployment:
  kind: DaemonSet
  revisionHistoryLimit: 0

ingressClass:
  isDefaultClass: false

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: false
  kubernetesIngressNginx:
    enabled: true
    watchIngressWithoutClass: true
    publishService:
      enabled: false

service:
  type: ClusterIP

updateStrategy:
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: ~

global:
  checkNewVersion: false
  sendAnonymousUsage: false

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

extraObjects:
  - apiVersion: networking.k8s.io/v1
    kind: IngressClass
    metadata:
      name: nginx
      annotations:
        ingressclass.kubernetes.io/is-default-class: "true"
    spec:
      controller: k8s.io/ingress-nginx
