ports:
  web:
    hostPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    hostPort: 443

api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.tom.lan`)
    entryPoints:
      - websecure

deployment:
  kind: DaemonSet
  revisionHistoryLimit: 0

ingressClass:
  isDefaultClass: true

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
    publishedService:
      enabled: false

service:
  type: ClusterIP

updateStrategy:
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: ~

global:
  checkNewVersion: false
  sendAnonymousUsage: false

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

# ref: https://github.com/argoproj/argo-cd/issues/4863
# ref: https://github.com/traefik/traefik/issues/6303
additionalArguments:
  - "--providers.kubernetesingress.ingressendpoint.ip=127.0.0.1"
