deployment:
  revisionHistoryLimit: 0

ingressClass:
  isDefaultClass: false

# experimental:
#   kubernetesGateway:
#      enabled: true

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: false
  file:
    enabled: false
  kubernetesIngressNginx:
    enabled: false # FOR NOW
    watchIngressWithoutClass: true
  knative:
    enabled: false

global:
  checkNewVersion: false
  sendAnonymousUsage: false

extraObjects:
  - apiVersion: networking.k8s.io/v1
    kind: IngressClass
    metadata:
      name: nginx
      annotations:
        ingressclass.kubernetes.io/is-default-class: "true"
    spec:
      controller: k8s.io/ingress-nginx
