deployment:
  revisionHistoryLimit: 0

ingressClass:
  isDefaultClass: false

# experimental:
#   kubernetesGateway:
#      enabled: true

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: false
    # publishedService:
    #   enabled: true
  kubernetesGateway:
    enabled: false
  file:
    enabled: false
  kubernetesIngressNginx:
    enabled: true
    watchIngressWithoutClass: true
    publishService:
      # WARN: Needed to prevent Ingresses getting stuck Progressing in Argo.
      # See https://github.com/argoproj/argo-cd/issues/4863 for more info.
      enabled: true
  knative:
    enabled: false

global:
  checkNewVersion: false
  sendAnonymousUsage: false

extraObjects:
  - apiVersion: networking.k8s.io/v1
    kind: IngressClass
    metadata:
      name: nginx
      annotations:
        ingressclass.kubernetes.io/is-default-class: "true"
    spec:
      controller: k8s.io/ingress-nginx
