# See: https://cloudnative-pg.io/documentation/1.27/samples/cluster-example-full.yaml
extraResources:
  - apiVersion: postgresql.cnpg.io/v1
    kind: Cluster
    metadata:
      name: postgresql
    spec:
      instances: 3
      storage:
        storageClass: openebs-zfs
        size: 1Gi
  - apiVersion: postgresql.cnpg.io/v1
    kind: Database
    metadata:
      name: mattermost
    spec:
      name: mattermost
      owner: app
      cluster:
        name: postgresql
