extraResources:
  - apiVersion: postgresql.cnpg.io/v1
    kind: Cluster
    metadata:
      name: postgresql
    spec:
      instances: 3
      storage:
        storageClass: openebs-zfs
        size: 1Gi
